@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-family: 'Press Start 2P', cursive;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 105, 180, 0.7);
}

h1 {
    font-size: 60px;
    color: white;
}

.btn {
    width: 250px;
    padding: 20px;
    border-radius: 6px;
    border: 2px solid pink;
    background: rgba(0, 0, 0, 0.6);
    color: pink;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: pink;
    color: yellow;
    box-shadow: 0 0 10px pink, 0 0 20px yellow;
}
